In [1]:
import pandas as pd

path = '../data/star_classification.csv'
dataset = pd.read_csv(path)

In [2]:
dataset.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [3]:
# info() shows the number of non-null values in each column, and the data type of each column.

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Temperature (K)         240 non-null    int64
 1   Luminosity(L/Lo)        240 non-null    float64
 2   Radius(R/Ro)            240 non-null    float64
 3   Absolute magnitude(Mv)  240 non-null    float64
 4   Star type               240 non-null    int64
 5   Star color              240 non-null    object
 6   Spectral Class          240 non-null    object
dtypes: float64(3), int64(2), object(2)
memory usage: 13.2+ KB

In [6]:
# describe() shows a statistical summary for numerical columns.

dataset['Temperature (K)'].describe()

count      240.000000
mean     10497.462500
std       9552.425037
min       1939.000000
25%       3344.250000
50%       5776.000000
75%      15055.500000
max      40000.000000
Name: Temperature (K), dtype: float64

In [9]:
dataset['Spectral Class'].describe()

count     240
unique      7
top         M
freq      111
Name: Spectral Class, dtype: object

In [10]:
dataset.describe()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type
count,240.000000,240.000000,240.000000,240.000000,240.000000
mean,10497.462500,107188.361635,237.157781,4.382396,2.500000
std,9552.425037,179432.244940,517.155763,10.532512,1.711394
min,1939.000000,0.000080,0.008400,-11.920000,0.000000
25%,3344.250000,0.000865,0.102750,-6.232500,1.000000
50%,5776.000000,0.070500,0.762500,8.313000,2.500000
75%,15055.500000,198050.000000,42.750000,13.697500,4.000000
max,40000.000000,849420.000000,1948.500000,20.060000,5.000000

In [29]:
radius_mean = dataset['Radius(R/Ro)'].mean()
new_dataset = dataset['Radius(R/Ro)'] - radius_mean
new_dataset.head()

0   -236.987781
1   -237.003581
2   -237.055781
3   -236.997781
4   -237.054781
Name: Radius(R/Ro), dtype: float64

In [24]:
new_dataset = dataset['Radius(R/Ro)'].map(lambda x: x - radius_mean)
new_dataset.head()

0   -236.987781
1   -237.003581
2   -237.055781
3   -236.997781
4   -237.054781
Name: Radius(R/Ro), dtype: float64

In [27]:
def remean(row):
    row['Radius(R/Ro)'] = row['Radius(R/Ro)'] - radius_mean
    return row
new_dataset = dataset.apply(remean, axis='columns')
new_dataset.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,-236.987781,16.12,0,Red,M
1,3042,0.000500,-237.003581,16.60,0,Red,M
2,2600,0.000300,-237.055781,18.70,0,Red,M
3,2800,0.000200,-236.997781,16.65,0,Red,M
4,1939,0.000138,-237.054781,20.06,0,Red,M

In [34]:
dataset['Spectral Class'].value_counts()

M    111
B     46
O     40
A     19
F     17
K      6
G      1
Name: Spectral Class, dtype: int64

In [41]:
def transform_into_numerical_value(row):
    if row['Spectral Class'] == 'M':
        return 0
    elif row['Spectral Class'] == 'B':
        return 1
    elif row['Spectral Class'] == 'O':
        return 2
    elif row['Spectral Class'] == 'A':
        return 3
    elif row['Spectral Class'] == 'F':
        return 4
    elif row['Spectral Class'] == 'K':
        return 5
    elif row['Spectral Class'] == 'G':
        return 6
new_dataset = dataset.apply(transform_into_numerical_value, axis='columns')       
new_dataset.value_counts()

0    111
1     46
2     40
3     19
4     17
5      6
6      1
dtype: int64